.sensor__details {
  font-family: 'Rubik', sans-serif;
  padding: 3rem 10rem;
  h2 {
    color: #3e3e3e;
  }
  .datas__list {
    color: #707070;
    padding: 0;
    margin: 1rem 0 0;

    li {
      margin: .5rem 0;
      padding: 0;
      b {
        font-weight: 300;
      }
    }
  }
}