.station__details {
  padding: 3rem 10rem;
  h1 {
    padding-left: .1rem;
  }
  .sensors__list {
    display: flex;
    //width: 70vw;
    width: 100%;
    margin-top: 1rem;
    padding: 0;
    flex-wrap: wrap;
    transition: all 250ms;

  }
}