*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

i {
  overflow: hidden;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

@import "components/Navigation";
@import "components/Headers";
@import "components/StationDelegate";
@import "views/DashboardView";
@import "views/StationsView";