*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

i {
  overflow: hidden;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row--space__beetwean {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import "components/Navigation";
@import "components/Headers";
@import "components/StationDelegate";
@import "components/SensorDelegate";
@import "components/DataDelegate";
@import "components/SelectBox";
@import "views/DashboardView";
@import "views/StationsView";
@import "views/StationDetails";
@import "views/SensorDetails";

