.data__delegate {
  display: flex;
  .date {
    background-color: #10ACF6;
    padding: .85rem 0;
    width: 13.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    border: solid #10ACF6 2px;
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: calc(100% - 13.5rem);
    b {
      margin-left: .3rem;
      font-weight: 500;
    }
  }
}