.station__delegate {
  border: solid #10ACF6 2px;
  width: 15rem;
  height: 10.5rem;
  color: #10ACF6;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 150ms;
  padding: 0;
  margin: .3rem;
  @include wide {
    width: 22rem;
  }
  @include small-desktop {
    width: 100%;
    margin: .8rem 3rem;
  }
  @include phone {
    margin: .8rem 1.5rem;
  }
  &:hover {
    background-color: #10ACF6;
    color: white;
  }

  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #10ACF6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms;
    &:hover {
      color: white;
    }
  }
}