{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="sensor__details">


    <div class="row--space__beetwean">
    <h1>{{sensor.station.city}} - {{sensor.station.name}}</h1>
</div>

    <h2>{{sensor.name}}</h2>
    <div class="row">
        <ul class="datas__list">

            {% for data in filter.qs %}
            <li class="data__delegate">
                <div class="date">{{data.long_date}}</div>
                <div class="content">{{data.value}}<b>{{sensor.unit}}</b></div>
            </li>
            {% endfor %}
        </ul>
        <div class="chart" id="chart"></div>
    </div>
</div>
<script>

    var dataSet = [];
    var categorySet = [];
    {% for data in filter.qs reversed  %}
        dataSet.push({{data.value}});
        categorySet.push("{{data.date}}");
    {% endfor %}
    var options = {
        chart: {
            type: 'line',
            width: '99%',
        },
        series: [{
            name: 'Presure',
            data: dataSet
        }],
        xaxis: {
            categories: categorySet
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
</script>
{% endblock %}