{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="station__details">
    <h1>{{station.city}}</h1>
    <ul class="sensors__list">
        {% for sensor in sensors %}
            <li class="sensor__delegate">
                <div class="sensor__delegate__header">{{sensor.name}}</div>
                <div class="sensor__delegate__content">
                    <p>
                        32 <b>C</b>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}