{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="station__details">
    <h1>{{station.city}}</h1>
    <ul class="sensors__list">
        {% for sensor in sensors %}
        <li class="sensor__delegate">
            <a href="{% url 'sensor-detail' sensor.pk %}">
                <div class="sensor__delegate__header">{{sensor.name}}</div>
                <div class="sensor__delegate__content">
                    <p>
                        {{sensor.last_value}} <b>{{sensor.unit}}</b>
                    </p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}